
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

.fileInput {
	display: none;
}

.fileText {
	text-decoration: underline;
}

.fileText:hover {
	text-decoration: underline;
    color: #00BDE3;
}

.fileSpam {
    background-color: #F7F9FA;
    margin-right: 10px;
    white-space: nowrap;
    color: #00BDE3;
    font-size: 15px;
}

.fileContent {
    margin: 15px;
    display: contents;
    flex-direction: column;
}

.textAdd {
    padding-left: 20px;
    color: red;
    font-family: "FuturaBold", sans-serif;
}

.mapboxgl-ctrl-geocoder--icon-search {
    display: none !important;
}
.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
    background-color: transparent;
    box-shadow: 0 0 10px 2px transparent !important;
}