
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

.fileInput {
	display: none;
}

.fileText {
	text-decoration: underline;
  font-weight:normal;
}

.fileText:hover {
	text-decoration: underline;
    color: #00BDE3;
}

.fileSpam {
    background-color: #F7F9FA;
    margin-right: 10px;
    white-space: nowrap;
    color: #00BDE3;
    font-size: 15px;
}

.fileContent {
    margin: 15px;
    display: contents;
    flex-direction: column;
}

.textAdd {
    padding-left: 20px;
    color: #e40000;
    font-family: "FuturaBold", sans-serif;
}
.mapboxgl-ctrl-geocoder--icon-search {
    display: none !important;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
    background-color: transparent !important;
    box-shadow: 0 0 10px 2px transparent !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.dropdownAddress {
    border: 2px solid #E3E5E5;
    border-radius: 35px;
}

.mapboxgl-ctrl-geocoder .suggestions {
    font-size: 13px;
    background-color: white !important;
    margin-top: 17px !important;
}

.table-geocoder {
    margin-left: 55px;
    width: 324px;
    background-color: white;
    margin-top: 42px;
    position: fixed;
    border-radius: 20px;
    padding-bottom: 10px;
    list-style: none;
    padding: 12px;
    z-index: 2;
}
.table-geocoder-home {
  margin-left: 21px;
  width: 294px;
  background-color: white;
  border-radius: 20px;
  list-style: none;
  padding: 10px;
  z-index: 2;
  position: relative;
}

.button-goecoder {
    background: transparent;
    border-color: transparent;
    width: 100%;
    text-align: inherit;
    padding-bottom: 8px;
}
.span-geocoder {
    font-family: "FuturaMedium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7A7E80;
}

.btm-catalogories {
    font-family: "FuturaMedium", sans-serif;
    font-size: 16px;
    width: 250px;
    text-align: inherit;
    font-weight: 500;
    color: #75757e;
    padding-left: 11px;
    background-color: transparent;
    border-color: transparent;
}

.tr-geocoder {
    list-style: none;
}

.tr-categories {
    list-style: none;
    position: sticky;
    padding-bottom: 15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tr-geocoder:hover {
    background-color: #EBFBFF;
}
.tr-geocoder-active {
    background-color: #EBFBFF;
}

.input-address {
    padding: 10px;
    width: 100%;
    height: 105%;
    background-color: transparent;
    border: transparent !important;
    padding-left: 20px;
    font-family: "FuturaMedium", sans-serif;
    outline: none;
}

.geocoder-block {
    display: 'block';
    position: absolute;
    max-width: 313;
}
.geocoder-block-home {
  display: 'block';
  position: absolute;
  max-width: 313;
  top: 338px;
}
.swhere-home {
  // max-width: 200px;
  // width: 200px;
  position: relative;
  padding-right: 5px;
  .clear-button {
    background-image: url('../../public/ic-close.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    position: absolute;
    right: 5px;
  }
}

.ul-address {
    margin-left: 10px;
    border: 2px solid #E3E5E5;
    width: 400px;
    background-color: white;
    margin-top: 12px;
    position: absolute;
    border-radius: 20px;
    list-style: none;
    padding: 10px;
}

.dropdown-categories-select {
    background-color: transparent !important;
    border-color: transparent !important;
    font-family: "FuturaMedium" !important;
    width: 170px;;
    color: #757587 !important;
}

.dropdown-categories {
    background-color: white !important;
    width: auto !important;
    padding-bottom: 0px !important;
}

.item-categories {
    font-family: "FuturaMedium",sans-serif!important;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 4px;
}

.Mui-checked, .MuiCheckbox-indeterminate {
    color: #00BDE3 !important;
    border: #7A7E80 !important;
}

.MuiTypography-root {
    font-family: "FuturaMedium", sans-serif !important;
}

.labelBusiness {
    text-transform: capitalize;
}

.MuiTypography-root .MuiTypography-body1 .MuiListItemText-primary {
    font-family: "FuturaMedium",sans-serif!important;
    font-size: 14px;
    font-weight: 500;
}

.ckeckmark-form {
    border: 2px solid #E3E5E5;
    min-width: 20px;
}

.table-geocoder-mobile {
    margin-left: -50px;
    width: 216px;
    background-color: white;
    margin-top: 30px;
    position: fixed;
    border-radius: 20px;
    padding-bottom: 10px;
    list-style: none;
    padding: 12px;
    z-index: 2;
}

.ul-geocoder-mobile {
    background-color: #ffffff !important;
    padding-left: 0px;
}

.chkwrap-mobile {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chkwrap-mobile input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark-mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
    margin-left: 300px;
	background-color: rgb(255, 255, 255);
	vertical-align: middle;
    border-radius: 4px;
}
.chkwrap-mobile:hover input ~ .checkmark-mobile {
	background-color: #7A7E80;
	border-color: #7A7E80;
}
.chkwrap-mobile input:checked ~ .checkmark-mobile {
	background-color: #00BDE3;
	border-color: #00BDE3;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	content: url("../../public/images/ic_chk_selected.svg");
}
.checkmark-mobile:after {
	content: "";
	position: absolute;
	display: none;
}
.chkwrap-mobile input:checked ~ .checkmark-mobile:after {
	display: block;
}
.bmodal-ts {
    position: absolute;
    top: 300px;
    margin-top: 104px;
    margin-left: 280px;
    width: 0%;
    height: 0%;
/*     left: 8px; */
    left: -8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.map-container {
  .mapboxgl-map {
    border-top-right-radius: 20px !important;
  }
}

.text-input-home {
    width: 75%;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}
.dropdown-categories-select {
    color: #161A23 !important;
    padding: 1px 1px;
    font-size: 14px !important;
    font-family: "FuturaMedium", sans-serif;
    font-weight: 500;
    em {
        font-family: "FuturaMedium", sans-serif;
        font-style: normal;
        font-size: 14px !important;
        line-height: 14px;
        color: #161A23;
    }
}
.icon-home {
  top: 27%;
  right: 4px;
  position: absolute;
}
@media (min-width: 1920px) {
    .dropdown-categories-select {
        color: #161A23 !important;
        font-size: 18px !important;
        padding-left: -16px !important;
        margin-left: 0;
        width: 224px !important;
        em {
            font-family: "FuturaMedium", sans-serif;
            font-style: normal;
            font-size: 18px !important;
            line-height: 18px !important;
            color: #161A23;
        }
    }
    .table-geocoder {
      margin-left: 59px;
      width: 343px;
      background-color: white;
      margin-top: 45px;
      position: fixed;
      border-radius: 20px;
      padding-bottom: 10px;
      list-style: none;
      padding: 12px;
      z-index: 2;
    }
    .table-geocoder-home {
      margin-top: 64px;
      margin-left: 30px;
      width: 329px;
      background-color: white;
      border-radius: 20px;
      list-style: none;
      padding: 10px;
      z-index: 2;
      position: relative;
    }
}
@media (min-width: 2560px) {
    .table-geocoder {
      margin-left: 98px;
      width: 467px;
      background-color: white;
      margin-top: 57px;
      position: fixed;
      border-radius: 20px;
      padding-bottom: 10px;
      list-style: none;
      padding: 12px;
      z-index: 2;
    }
    .table-geocoder-home {
      margin-top: 227px;
      margin-left: 40px;
      width: 410px;
      background-color: white;
      border-radius: 20px;
      list-style: none;
      padding: 10px;
      z-index: 2;
      position: relative;
    }
    .span-geocoder {
      font-size: 20px;
    }
    .dropdown-categories-select {
        color: #161A23 !important;
        font-size: 24px !important;
        padding-left: -16px !important;
        margin-left: 0;
        width: 300px !important;
        em {
            font-family: "FuturaMedium", sans-serif;
            font-style: normal;
            font-size: 24px !important;
            line-height: 24px;
            color: #161A23;
        }
    }
    .MuiOutlinedInput-root .MuiInputBase-root .MuiInputBase-colorPrimary .dropdown-categories-select {
        color: #7A7E80 !important;
        em {
            font-family: "FuturaMedium", sans-serif;
            font-style: normal;
            font-size: 24px !important;
            line-height: 24px;
            color: #161A23;
        }
    }
}
.margin-bottom {
  margin-bottom: 5px !important;
  height: auto !important;
  max-height: 40px !important;
  padding-bottom: 3px !important;
}

.margin-bottom-osm {
  margin-bottom: 5px !important;
  height: auto !important;
  max-height: 40px !important;
  padding-bottom: 3px !important;
}
.margin-bottom-payment { 
  padding-bottom: 5px !important;
}

.usda-mobile {
  height: auto !important;
}

.store-usda-bottom {
  padding-bottom: 8px !important;
}

.max-width-usda {
  max-width: 60px !important;
}

.detail-pha {
  padding: 17px 16px 24px 16px !important;
}

.store-bottom{
  padding-bottom: 14px !important;
}

.services-bottom {
  padding-bottom: 18px !important;
}

.address-bottom {
  margin-bottom: 17px !important;
  height: auto !important;
  padding-bottom: 0px !important;
}

.phone-bottom {
  padding-bottom: 15px !important;
}

.button-margin { 
  margin-top: 6px !important;
}

.services-mobile {
  margin-bottom: 3px !important;
}

.store-bottom-mobile {
  margin-bottom: 3px !important;
}
.address-bottom-mobile {
  margin-top: 2px !important;
  margin-bottom: 12px !important;
  height: auto !important;
  padding-bottom: 0px !important;
  line-height: 16px !important;
  text-decoration: none;
}
.address-bottom-mobile:hover {
  color: #00BDE3;
}
@media (max-width: 600px) {
  .constainer-mobile {
    height: 85vh !important;
    overflow: hidden !important;
  }
  .clouseClearIcon {
    margin-left: 0px !important;
  }
  .margin-bottom {
    margin-bottom: 10px !important;
    margin-top: 2px !important;
    line-height: 17px !important;
    max-height: 33px !important;
    height: auto !important;
  }
  .margin-bottom-osm {
    margin-bottom: 15px !important;
    margin-top: 2px !important;
    line-height: 17px !important;
    max-height: 33px !important;
    height: auto !important;
  }
  .store-osm-bottom {
    padding-bottom: 10px !important;
  }
  .iccrosshair {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    padding-right: 5px;
  }
  .text-input-home {
    width: 75% !important;
  }
}

.text-delete {
  color: #00BDE3;
  font-family: "FuturaMedium", sans-serif;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    color:  #e40000;
  }
}
.mapboxgl-map {
  border-radius: 16px !important;
  overflow-y: hidden !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.google-map {
  text-decoration: none;
  color:#00BDE3 !important;
}
.google-map:hover {
  text-decoration: none;
  color:#161A23 !important;
}
