.loader {
  position: sticky;
  z-index: 1000000;
  top: 50%;
  

  svg {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    margin-left: 50%;
  }
  
  .cls-1,
  .cls-2 {
    fill: none;
    stroke-linecap: bevel;
    stroke-linejoin: round;
  }
  .cls-1 {
    stroke: gray
  }
  .cls-1 {
    stroke-width: 2px;
  }
  
  .cls-2 {
    fill: none;
    stroke: #444;
    stroke-width: 4px;
  }
  
  .cls-3 {
    fill: none;
    stroke: #444;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
  }
  
  .cls-4 {
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 700;
    font-style: italic;
  }
  
}




